node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env

# Fichiers de configuration spécifiques à l'IDE
.vscode/

# Fichiers de test et de développement
scripts/test-*.cjs
scripts/test-*.js
debug-moviebox*.cjs

# Fichiers temporaires
global.css

# Fichiers de configuration Expo (si pas utilisés)
app.json
eas.json
metro.config.js
babel.config.js

# Assets temporaires
assets/
app/

# Allow android-native development
!android-native/**

ios-natve/anisflix/Pods/
Pods/
ios-natve/anisflix/build/


# Logs
*.log
api/*.log

# User Interface State (Local Xcode user settings)
*.userinterfacestate
*.xcuserstate
ios-natve/anisflix/AnisFlix.xcarchive/
